body {background-color: #181a1b;}
#Submit, #Username, #Password, #UsernameLabel, #PasswordLabel{
    font-size: 20px;
}
#SignInLabel{
    margin-left: 10%;
    font-size: 30px;
    color: white;
    user-select: none;
}
#Username, #Password{
    float: left;
    color: black;
}
#UsernameLabel, #PasswordLabel{
    float: left;
    color: white;
    user-select: none;
}
#SignInGroup{
    margin-left: 40%;
    margin-top: 20%;
}
#SignIn{
    margin-left: 130px;
}
#SignIn:hover{
    cursor: pointer;
}